<?xml version="1.0"?>
<robot name="test_bot">
	<link name = "base_link">
		<visual>
			<geometry>
				<cylinder length = "0.01" radius = "0.2"/>
			</geometry>
			<origin rpy = "0 0 0" xyz = "0 0 0"/>
			<material name = "red">
				<color rgba = "1 0 0 1"/>
			</material>
		</visual>
	</link>

	<link name = "left_wheel">
		<visual>
			<geometry>
				<cylinder length = "0.01" radius = "0.05"/>
			</geometry>
			<origin rpy = "0 1.57 0" xyz = "0 0 0"/>
			<material name = "green">
				<color rgba = "0 1 0 1"/>
			</material>
		</visual>
	</link>

	<joint name="left_joint" type="revolute">
	    <parent link="base_link"/>
	    <child link="left_wheel"/>
	    <origin xyz="0.205 0 0"/>
	    <axis xyz="1 0 0" />
	    <limit effort="300" velocity="0.1" lower="-3.14" upper="3.14"/>
	    <dynamics damping="50" friction="1"/>
	</joint>

	<link name = "right_wheel">
		<visual>
			<geometry>
				<cylinder length = "0.01" radius = "0.05"/>
			</geometry>
			<origin rpy = "0 1.57 0" xyz = "0 0 0"/>
			<material name = "green">
				<color rgba = "0 1 0 1"/>
			</material>
		</visual>
	</link>

	<joint name="right_joint" type="revolute">
	    <parent link="base_link"/>
	    <child link="right_wheel"/>
	    <origin xyz="-0.205 0 0"/>
	    <axis xyz="-1 0 0" />
	    <limit effort="300" velocity="0.1" lower="-3.14" upper="3.14"/>
	    <dynamics damping="50" friction="1"/>
	</joint>
</robot>